[Desktop Entry]
Encoding=UTF-8
Name=Link to 
Type=Link
URL=https://www.aliexpress.com/item-img/Electronic-2KG-YZC-133-Aluminum-Weighing-Weight-Scale-Sensor-Load-Cell/32660749913.html?spm=2114.10010108.1000017.1.uf1qc7
Icon=text-html
